body{
    background: #FAF0D1;
}
.main_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 20px;
    margin-bottom: 10px;
}
.main{
    display: block;
}
.todo_button{
    margin-left: 30px;
}
.title{
    color:red;
    opacity: 0.5;
    margin-left: 50%;
    margin-right: 50%;
}
.main_activity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ne_gotovo{
    background: lightgrey;
    font-size: 20px;

}


.gotovo{
    background: lightgreen;
    text-decoration: line-through;
    font-size: 20px;
}

